<%- include ('partials/head.ejs') %>
<!-- <%- include ('partials/header.ejs') %> -->

<h1>Looks like you're offline at the moment</h1>
<h2>For the currant, accurate weather look outside</h2>

<%- include ('partials/footer.ejs') %>