<%- include ('partials/head.ejs') %>
<!-- <%- include ('partials/header.ejs') %> -->

<h1>Oh no, looks like you're offline</h1>
<h2>For the currant, accurate weather look outside</h2>

<%- include ('partials/footer.ejs') %>