#weatherCards {
  display: flex;
  position: absolute;
}

#detailWeatherCards > article {
  width: 30em;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#weatherCards > article {
  margin: 1em 1em 1em 2em;
}

#averageTemp {
  background-color: brown;
}

#loading > p {
  padding: 2em;
  text-align: center;
}

#loading {
  display: none;
}